# ======================
# Android / Gradle
# ======================
.gradle/
build/
.externalNativeBuild/
.cxx/

# ======================
# Local config
# ======================
local.properties

# ======================
# Android Studio / IntelliJ
# ======================
.idea/
*.iml

# ======================
# Logs
# ======================
*.log

# ======================
# Build outputs
# ======================
*.apk
*.aab

# ======================
# Security (NUNCA versionar)
# ======================
*.jks
*.keystore

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Firebase
# ======================
google-services.json

# ======================
# Other
# ======================
captures/
